/* Reset CSS básico para limpar estilos padrão do navegador */
body, h1, h2, h3, h4, h5, h6, p, ul, li, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

.name {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.logo img {
  width: 90px; /* Defina o tamanho desejado para a largura da imagem */
  height: auto; /* Mantém a proporção original da imagem */
  float: left; /* Alinha a imagem à esquerda */
  margin-right: 20px; /* Adiciona uma margem à direita para separar do texto, se necessário */
  margin-left: -150px;
  border-radius: 50%;
}

.menu {
  background-color: #333;
  text-align: center;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu ul li {
  margin-left: 10px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #7bb098;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.banner {
  background-color: #7bb098;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.banner p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7bb098;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #29506b;
}

.services {
  text-align: center;
}

.service {
  margin-bottom: 20px;
}

.service img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  padding: 5px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about p {
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.contact form {
  margin-top: 20px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contact button {
  padding: 10px 20px;
  background-color: #7bb098;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.contact-information {
  text-align: center;
  margin-bottom: 20px;
}

.contact-information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.contact-information i {
  margin-right: 10px;
}

.contact-information a {
  color: #7bb098;
  text-decoration: none;
}

.contact-information i,
.contact-information a {
  font-size: 30px;
}

.contact-information a:hover {
  color: #000;
}

.budget {
  text-align: center;
  margin-bottom: 20px;
}

.options-budget {
  display: flex;
  justify-content: center;
}

.option {
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.option h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.option p {
  font-weight: bold;
  margin-bottom: 10px;
}

.option ul {
  list-style: none;
  margin-bottom: 10px;
}

.option ul li {
  margin-bottom: 5px;
}

.btn-budget {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7bb098;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn-budget:hover {
  background-color: #29506b;
}

/* Estilos para dispositivos móveis com largura de tela de até 600px */
@media only screen and (max-width: 600px) {
  .logo img {
    margin-left: 0; /* Remove a margem à esquerda */
  }

  .menu ul li {
    margin: 5px; /* Adiciona uma margem menor entre os itens do menu */
  }

  .contact-information {
    flex-direction: column; /* Alinha verticalmente os ícones e o texto */
    margin-top: 10px; /* Adiciona um espaço entre os ícones e o texto */
  }

  .contact-information i,
  .contact-information a {
    font-size: 24px; /* Reduz o tamanho dos ícones */
  }
}
